{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Result's</h4> 
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Razon social</th>
                                <th>Regimen fiscal</th>
                                <th>RFC</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Calle</th>
                                <th>No.Int</th>
                                <th>No.Ext</th>
                                <th>CP</th>
                                <th>Asentamiento</th>
                                <th>Localidad</th>
                                <th>Municipio</th>
                                <th>Estado</th>
                                <th>Pais</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td align="left" >{{client.0 }}</td>
                                    <td align="left">{{client.1}}</td>
                                    <td align="left">{{client.2}}</td>
                                    <td align="left">{{client.3}}</td>
                                    <td align="left">{{client.4}}</td>
                                    <td align="left">{{client.5}}</td>
                                    <td align="left">{{client.6}}</td>
                                    <td align="left">{{client.7}}</td>
                                    <td align="left">{{client.8}}</td>
                                    <td align="left">{{client.9}}</td>
                                    <td align="left">{{client.10}}</td>
                                    <td align="left">{{client.11}}</td>
                                    <td align="left">{{client.12}}</td>
                                    <td align="left">{{client.13}}</td>
                                    <td align="left">{{client.14}}</td>
                                    <td align="left">{{client.15}}</td>
                                </tr>
                            {% endfor %}
                          </tbody>
                    </table>  
                </div>              
            </div>
        </div>
    </div>
</div>
{% endblock content %}
